{% extends "controller/base.html" %}
{% load static %}

{% block title %}Application Settings{% endblock %}

{% block content %}
<form method="post" class="app-settings-form">
  {% csrf_token %}
  {% for field in form %}
    <div class="form-group">
      {{ field.label_tag }}
      {{ field }}
      {% if field.help_text %}
        <small>{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
        <div class="error">{{ error }}</div>
      {% endfor %}
    </div>
  {% endfor %}
</form>
{% endblock %}

{% block navigation %}
<div class="card navigation-card span-2">
  <div class="navigation-grid ">
    <button type="submit"><span class="icon">&#128190;</span> Save Settings</button>
  </div>
</div>
{% endblock %}